* {
    box-sizing: border-box;
}

body {
    padding: 0%;
    margin: 0%;
    font-family: "Google Sans Flex", sans-serif;
    background-color: #FEFDF9;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin: 1rem;
}

li a {
    text-decoration: none;
    font-size: 1rem;
    color: hsla(0, 0%, 0%, 0.514);
}

li a:hover {
    color: rgba(240, 71, 71, 0.521);
}

.HeroS {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 {
    max-width: 70%;
    display: flex;
    justify-content: space-around;
}

.imgSection img {
    width: 741px;
}


.imgMobe {
    display: none;
}

.HerosectionContantContaner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.IWCcontant h1 {
    width: 250px;
    font-size: 3rem;
    font-weight: bolder;
}

.ParaAndbtn p {
    width: 300px;
    line-height: 1.8rem;
    font-size: 1.1rem;
    margin-left: -1rem;
    opacity: .7;
}

.ParaAndbtn button {
    font-size: 1.1rem;
    font-weight: 800;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    background-color: #F15D52;
    transition: all .2s;
}

.ParaAndbtn button:hover {
    background-color: #00001A;
    color: white;
}

.NewsSidebar {
    width: 321px;
    max-height: 450px;
    margin-bottom: 1.5rem;
    padding-right: 1rem;

    margin-left: 1rem;
    background-color: #00001A;
    color: white;
}

.NewsSidebar h1 {
    color: #ECAF4F;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.NSBCcontante {
    margin-left: 1rem;
}

.NSBCcontante h2 {
    font-size: 1.12rem;
    cursor: pointer;
    transition: all .2s;
}

.NSBCcontante h2:hover {
    color: #ECAF4F;

}

.NSBCcontante p {
    font-size: .88rem;
    opacity: .7;
}

.ItemsContaner {
    display: flex;
    margin-bottom: 4rem;
    justify-content: center;
    margin-top: 4rem;
}

.itembox {
    display: flex;
    width: 350px;
    align-items: center;
}

.itembox img {
    width: 120px;
    align-items: flex-start;
}

.itembox h1 {
    color: #F15D52;
    font-size: 2.2rem;
}

.itembox h2 {
    font-size: 1.01rem;
}

.itemDetails h2:hover {
    color: #F15D52;
    cursor: pointer;
}

.itembox p {
    font-size: 0.9rem;
    margin-top: -10px;
    opacity: .7;
    width: 200px;
}

.itemDetails {
    margin-left: 1rem;
}

.manue {
    display: none;
}

ul img {
    display: none;
}

/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */

@media(max-width:1450px) {
    .section-1 {
        flex-direction: column;
        align-items: center;
    }

    .NewsSidebar {
        margin-top: 1rem;
        max-width: 330px;
        border-radius: 20px;
        margin-left: 0;
    }

    .NewsSidebar h1 {
        text-align: center;
    }
}

@media(max-width:1075px) {
    .ItemsContaner {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

@media(max-width:777px) {
    header ul {
        display: none;
    }

    .imgSection img {
        max-width: 350px;
    }

    .imgMobe {
        display: block;
    }

    .imgDesk {
        display: none;
    }

    .HerosectionContantContaner {
        flex-direction: column;
    }

    .manue {
        display: block;
        cursor: pointer;
    }

    .Links>.manueOpende {
        width: 250px;
        background-color: hsla(0, 0%, 100%, 0.493);
        max-height: 400px;
        display: block;
        transition: right 1.1s ease-in-out;
        top: 30px;
        right: 30px;
        position: absolute;
    }

    li>a {
        opacity: 1;
        color: #000;
    }

    ul img {
        display: block;
        width: 20px;
        position: relative;
        top: 10px;
        left: 180px;
        cursor: pointer;
    }

}

.closeManue {
    display: none;

}